{% extends 'base.html.twig' %}

{% block title %} L'apollo Bar {% endblock %}

{% block body %}
<div class="home">
    <img class="imageHome" src="images/cc 4-9.jpg">
    <div class="overlay-text">
        <p> « trop forte, trop rauque, trop crue, </p>
        <p> trop exagérée, trop emotionnelle et </p>
        <p> souvent trop sincère, manquant </p>
        <p> souvent de retenue » </p>
    </div>
    <div class="homeba">
        <h1> Qu’est-ce que L’Apollo ? </h1>
        <div class="homeContenut">
            <div class="homeText">
                <p>Née le 21 juin 1997, depuis son ouverture, cet endroit est devenu une place incontournable de la vie bordelaise.</p>
                <p>L'Apollo bar est situé au 19 place Fernand Lafargue, véritable place phare du centre ville, au cœur du quartier historique de Bordeaux.</p>
                <p>L'effervescence de la place est réanimée et son agitation se retranscrit entre les murs de l'Apollo.</p>
                <p>L'ambiance musicale constitue l'identité du bar et son style appartient à l'univers du funk et de la soul.</p>
            </div>
            <div style="width: 45%">
                <img class="imageContenut" src="images/cc 4-10.jpg">
            </div>
        </div>
    </div>
</div>
{% endblock %}
