.navbar {
  background-color: black;
  height: 80px;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.titre {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.titre a {
  text-decoration: none;
  color: white; /* Ajoutez votre couleur de texte souhaitée */
  margin: 0 15px; /* Ajoutez une marge horizontale entre les liens si nécessaire */
}

.logoNav img {
  max-height: 100px; /* Ajustez la hauteur maximale de votre logo si nécessaire */
}